/* DROP CLOTHING SHOP CSS */
.aux-elementor-header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

#header-logo img, #footer-logo img {
  width: auto;
  max-height: 25px;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 1025px) {
  #header-logo img, #footer-logo img {
    max-height: 50px;
  }
}

#header-banner::after, #header-banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#header-banner::after {
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.25) inset;
}
#header-banner::before {
  z-index: 1;
  background: rgba(187, 87, 16, 0.1);
}

.is-scrolling .aux-elementor-header {
  background-color: black;
  transition: all ease-in-out 0.3s;
}
.is-scrolling .elementor-section {
  padding: 0 2%;
  transition: all ease-in-out 0.3s;
}
.is-scrolling #header-logo img {
  max-height: 25px;
  transition: all ease-in-out 0.3s;
  transition-delay: 0.2s;
}
@media (min-width: 1025px) {
  .is-scrolling #header-logo img {
    max-height: 30px;
  }
}

h1 {
  color: red;
}

/*# sourceMappingURL=dropclothingshop.css.map */
