/* DROP CLOTHING SHOP CSS */

$tablet-width: 768px;
$desktop-width: 1025px;
$wide-width: 1062px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.aux-elementor-header {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0); 
}

#header-logo img, #footer-logo img {
    width: auto;
    max-height: 25px;
    transition: all ease-in-out 0.3s;

    @include desktop {
        max-height: 50px;		
    }
}

#header-banner {
    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;   
    }

    &::after {
        z-index: 2;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0px 25px rgba(0, 0, 0, 0.25) inset;
    }

    &::before {
        z-index: 1;
        background: rgba(187, 87, 16, 0.1);
    }
}


.is-scrolling {
    .aux-elementor-header { 
        background-color: rgba(0,0,0,1); 
        transition: all ease-in-out 0.3s;
    }

    .elementor-section { 
        padding: 0 2%;
        transition: all ease-in-out 0.3s;
    }

    #header-logo img {
        max-height: 25px;
        transition: all ease-in-out 0.3s;
        transition-delay: 0.2s;

        @include desktop {
            max-height: 30px;
        }
    
    }
}

h1 {
    color: red;
}